.container {
  text-align: center;
  margin-top: 100px;
  width: 50%;
  height: 35vh;
  margin: auto;
  padding-top: 80px;
  position: relative;
  top: 20vh;
}

.timer {
  font-size: 48px;
  font-family: Arial, sans-serif;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}
.container:hover {
  background-color: #f3f3f3;
  border: 1px dotted #4caf50;
  border-radius: 50px;
}
